@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:ital,wght@0,800;1,200&family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;

  /* COLORS   */
  --grey-50: #eeedeb;
  --peach-50: #e0ccbe;
  --sage-50: #747264;
  --winter-50: #3c3633;

  --black-50: #4a4a4a;
  --black-75: #1d1d1d;
  --black-100: #181818;
  --black-125: #101010;
  --black-150: #000000;

  --white-50: #ffffff;
  --white-100: #e7e7e7;
  --white-125: #b0b0b0;
  --white-150: #818181;

  /* FONTS */

  --fs-display: 5rem;
  --lh-display: 5.5rem;

  --fs-h1: 3.75rem;
  --lh-h1: 4.5rem;

  --fs-h2: 3rem;
  --lh-h2: 3.6rem;

  --fs-h3: 2.4375rem;
  --lh-h3: 2.925rem;

  --fs-h4: 1.9375rem;
  --lh-h4: 2.325rem;

  --fs-h5: 1.56313rem;
  --lh-h5: 2.03206rem;

  --fs-h6: 1.25rem;
  --lh-h6: 1.625rem;

  --fs-base-large: 2rem;
  --lh-base-large: 2.8rem;

  --fs-base: 1rem;
  --lh-base: 1.8rem;

  --fs-footer: 0.9rem;
  --lh-footer: 1.62rem;
}
html {
  font-size: 16px;
}
body {
  font-family: "Montserrat", sans-serif;
  color: var(--white-100);
  background: var(--background);
}
